.app_wrapper {
  display: grid;
  grid-template-columns: 200px 200px;
}

.app__header {
  background-color: aqua;
}

.app__header img{
  width: 50px;
}

.app__nav {
  background-color: antiquewhite;
}

.app__content {
  background-color: blueviolet;
}
