.app__wrapper {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
}

.app__wrapper-content {
    background-color: darkolivegreen
}
